*{
    background-color: rgb(202, 230, 255);
}
img{
    animation: zmiana 2.5s linear infinite; 
}
@keyframes zmiana {
    0% {
        width: 100px;
        opacity: 0; 
    }
    100% {
        width: 250px;
        opacity: 1;
    }
}